/*@import '~normalize.css';*/
@import 'fonts.css';
body {
  background-color: palegoldenrod;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  text-align: center;
  color: darkred;
}

.header {
  padding: 10px 15px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  border: 0;
}
