.accordion {
  padding-top: 63px;
  counter-reset: faq-list;
  &__item {
    border-bottom: 1px solid #e8e8e8;
  }
  &__button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 35px 0;
    color: inherit;
    font-weight: normal;
    border: none;
    background: transparent;
    outline: none;
    text-decoration: inherit;
    &:hover,
    &:focus {
      cursor: pointer;
      color: $blue;
      &::after {
        cursor: pointer;
        color: $blue;
        border: 1px solid $blue;
      }
    }
    &[data-area-activeted='true'] {
      border-bottom: 1px solid $blue;
      color: $blue;
      .accordion__icon {
        &::after {
          width: 0;
        }
      }
      + .accordion__content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
  }
  &__title {
    @include fs(19);
    line-height: (24 / 16);
    font-weight: normal;
    &::before {
      counter-increment: faq-list;
      content: counter(faq-list) '. ';
    }
  }
  &__icon {
    display: inline-block;
    position: absolute;
    top: 32px;
    right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #e8e8e8;
    border-radius: 30px;
    &::before {
      display: block;
      position: absolute;
      content: '';
      top: 13px;
      left: 8px;
      width: 12px;
      height: 2px;
      background: currentColor;
    }
    &::after {
      display: block;
      position: absolute;
      content: '';
      top: 8px;
      left: 13px;
      width: 2px;
      height: 12px;
      background: currentColor;
    }
  }
  &__content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      @include fs(12);
      line-height: 2;
      font-weight: normal;
      margin: 2em 0;
      color: $gray;
    }
  }
}
