.announce {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  margin-bottom: 45px;
  &_col-3 {
    margin-top: 70px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    padding-right: 10px;
  }
  &__item {
    background-color: #fff;
    padding: 10px 10px 28px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  }
  &__img {
    margin-bottom: 46px;
    & img {
      display: block;
      width: 100%;
      border: none;
      max-height: 402px;
      object-fit: cover;
    }
  }
  &__title {
    font-weight: normal;
    @include fs(24);
    line-height: (38 / 24);
    letter-spacing: -0.2px;
    padding: 0 30px;
    margin-top: 0;
    margin-bottom: 24px;
  }
  &__description {
    color: $gray;
    @include fs(16);
    line-height: (30 / 16);
    padding: 0 30px;
  }
}
