.approve {
  padding: 0 15px 20px;
  margin-left: 90px;
  max-width: 527px;
  & > .section__description {
    margin-left: 0;
    @include fs(16);
    line-height: (30 / 16);
  }
  &__list {
    @include reset-list;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 27px;
    & > li {
      display: inline-block;
      img {
        display: inline-block;
      }
    }
  }
}
