.callback {
  padding: 0;
  &__bg {
    height: 865px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  &-form {
    background-color: #fff;
    margin: -537px auto 210px;
    padding: 30px 50px;
    max-width: 600px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    &__title {
      @include fs(25);
      line-height: (38 / 25);
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 125px;
      width: 70%;
    }
    &__input {
      width: 100%;
      display: inline-block;
      padding: 18px 20px;
      font-weight: normal;
      @include fs(12);
      line-height: (24 / 12);
      border-radius: 4px;
      border: 1px solid #e8e8e8;
      margin-bottom: 30px;
      &::placeholder {
        @include fs(12);
        line-height: (24 / 12);
        color: $fontColor;
        font-weight: bold;
      }
    }
    &__textarea {
      @extend .callback-form__input;
      resize: both;
      @include fs(12);
      padding-top: 8px;
      height: 120px;
      margin-bottom: 35px;
    }
  }
}
