@mixin font($font-name, $font-style, $font-weight, $font-url) {
  @font-face {
    font-family: $font-name;
    src: local($font-name), url($font-url + '.woff2') format('woff2'), url($font-url + '.woff') format('woff');
    font-style: $font-style;
    font-weight: $font-weight;
    font-display: swap;
  }
}

@include font('Roboto', normal, 400, '../assets/fonts/Roboto-Regular');
