.footer {
  padding: 110px 0;
  background-color: $bgColorDark;
  color: $fontColorLight;
  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 58px;
    border-bottom: 1px solid transparentize(#fff, 0.5);
    margin-bottom: 80px;
  }
  &__desc {
    @include fs(15);
    line-height: (30 / 15);
    padding-top: 12px;
  }
  &__logo img{
    height: 40px;
  }
  &__content {
    padding-top: 48px;
    margin-bottom: 130px;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    gap: 70px;
  }
  &__item {
    flex: 1;
    padding: 20px 15px;
  }
  &__title {
    @include fs(20);
    line-height: (24 / 20);
    margin: 0 0 20px;
    font-weight: normal;
  }
  &__list {
    @include reset-list;
    @include fs(15);
    line-height: (28 / 15);
    & > li {
      padding: 10.5px 0;
      border-bottom: 1px solid transparentize(#fff, 0.5)
    }
  }

  &__bottom {
    display: flex;
    padding-top: 34px;
    border-top: 1px solid transparentize(#fff, 0.5);
    @include fs(16);
    line-height: (30 / 16);
  }
  &__social {
    flex: 1;
  }
  &__sitemap {
    & a {
      @include reset-link;
    }
  }
}

.social {
  text-align: center;
  &__link {
    @include reset-link;
    & + & {
      margin-left: 15px;
    }
  }
}