.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $fontColorLight;
  &_container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
  }
  &-logo {
    padding-top: 4px;
  }
}

.nav {
  display: flex;
  align-items: center;
  &__menu {
    @include reset-list;
    display: flex;
  }
  &__link {
    @include reset-link;
    display: inline-block;
    transition: all 0.3s ease;
    &:hover {
      color: $blue;
    }
    & + * {
      margin-left: 44px;
    }
  }
  &__btn {
    @include reset-link;
    font-size: 13px;
    line-height: (16 / 13);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 12px 18px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $blue;
      border-color: $blue;
    }
  }
}
