.home {
  background-repeat: no-repeat;
  background-color: $bgColorDark;
  background-position: bottom center;
  &__content {
    max-width: 450px;
    margin-top: 90px;
    margin-bottom: 120px;
  }
}

.home-benefits {
  margin-top: -70px;
  &_container {
    padding: 48px 15px;
    background-color: $white;
    display: flex;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  }
  &__text {
    flex-basis: 415px;
    margin-right: 40px;
    flex-shrink: 0;
    padding: 25px;
    flex-flow: column;
    border-right: 1px solid #e8e8e8;
  }
  &__title {
    font-size: (26 / 16) + em;
    font-weight: normal;
    line-height: (38 / 26);
    margin-bottom: 0;
  }
  &__description {
    font-size: 1em;
    line-height: (30 / 16) + em;
    color: $gray;
    letter-spacing: 0.2px;
    margin-top: 0;
  }
  &__list {
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 20px;
    color: #737373;
  }
  &__item {
    padding: 12px 42px;
    font-size: (11 / 16) + em;
    line-height: (30 / 11) + em;
    letter-spacing: 0.4px;
  }
}
