.indicator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 1.875em 0;
  &__item {
    padding: 0 0.9375em;
    max-width: 180px;
    margin-bottom: 2em;
  }
  &__count {
    @include fs(42);
    line-height: (50 / 42);
    margin: 0 0 0.35em;
    padding-top: 0.3em;
  }
  &__desc {
    @include fs(11);
    line-height: (30 / 11);
  }
}
