*,
*::after,
*::before {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

html,
body {
  height: 100%;
}

body {
  background-color: $bgColor;
  color: $fontColor;
  font: {
    family: $fontFamily;
    size: inherit;
  }
}

:link {
  color: $blue;
}

.pb_5 {
  padding-bottom: 27.7em !important;
  @include media($lg) {
    padding-bottom: inherit !important;
  }
}

.mt_-5 {
  padding-top: 0;
  margin-top: -33.1em;
  @include media($lg) {
    margin-top: 0;
  }
}

.pt-80 {
  padding-top: 80px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.pb-85 {
  padding-bottom: 85px !important;
}

.text-center {
  text-align: center;
}

.bg-gray {
  background-color: #fafafa;
}

.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  min-width: $minWidth;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: $maxWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.main {
  flex: 1;
}

.section {
  padding: (150 / 16) + em 0;
  &_dark {
    background-color: $bgColorDark;
    color: $fontColorLight;
  }
  &_light {
    background-color: #e8e8e8;
  }
  &__title {
    @include fs(42);
    line-height: (50 / 42);
    font-weight: normal;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: (38 / 42) + em;
  }
  &__description {
    @include fs(12);
    line-height: (30 / 12) + em;
    max-width: (645 / 12) + em;
    letter-spacing: -0.5px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button {
  @include reset-link;
  display: inline-block;
  color: $fontColorLight;
  background-color: $blue;
  @include fs(15);
  padding: 20px 40px;
  border-radius: 4px;
  letter-spacing: 0.2px;
  border: none;
  &-group {
    &_pt {
      padding-top: 22px;
    }
  }
}

.career {
  padding: 43px 0 0;
  text-align: center;
  position: relative;
  &__wrap {
    position: relative;
  }
  &__item {
    display: inline-block;
    color: $blue;
    @include fs(15);
    line-height: (30 / 15);
    padding: 14px 35px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 15px;
    border: 2px solid #e8e8e8;
    border-radius: 30px;
  }
  &__previous, &__next {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    top: 60px;
    text-align: center;
    cursor: pointer;
    &:hover {
      border-color: $blue;
      &::after {
        border-color: $blue;
      }
    }
    &::after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-top: 2px solid;
      border-left: 2px solid;
      transform: rotate(-45deg) translateX(0) translateY(-50%);
      position: absolute;
      left: 50%;
      top: 50%;
     }
  }
  &__previous {
    left: 0;
  }
  &__next {
    right: 0;
    &::after {}
    transform: rotate(180deg);
  }

}