//Reset style

@mixin reset-link {
  color: inherit;
  text-decoration: inherit;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// Font-size
@mixin fs($size: 16) {
  font-size: $size + px;
  font-size: ($size / 16) + rem;
}

//$maxWidth: 1280; из Фрилансер по жизни
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/*
Динамическое масштабирование элементов
calc([min size]px + ([max size] — [min size]) * ((100vw — [min vw width]px) / ([max vw width] — [min vw width])))
links
https://habr.com/ru/post/310186/
https://vc.ru/dev/178033-dinamicheskoe-masshtabirovanie-elementov-v-css
https://yandex.ru/turbo/nuancesprog.ru/s/p/11269/?turbo_feed_type=full

use
.fluid-font-size {
  font-size: calcFluidSize(16, 48, 480, 1280);
}
*/

@function calcFluidSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}



@mixin media($sizeMedia) {
  @media only screen and (max-width: #{$sizeMedia}) {
    @content;
  }
}
