.partners {
  background-color: #fafafa;
  margin-top: 67px;
  margin-bottom: 60px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 80px 10px 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 80px;
  &__item {
    width: 25%;
    justify-content: center;
    text-align: center;
  }
}
