.regional {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10px 7px;
  gap: 30px 22px;
  margin-top: -10px;
  &__item {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    padding: 33px 20px;
  }
  &__app {
    color: $gray;
    @include fs(15);
    line-height: (30 / 16) + em;
    font-weight: normal;
  }
  &__city {
    font-weight: normal;
    @include fs(20);
    line-height: (28 / 16) + em;
  }
  &__img {
    text-align: right;
    margin-top: 8px;
    & img {
      max-height: 110px;
    }
  }
}
