.tab {
  padding-top: 70px;
  &__menu {
    font-size: (23 / 16) + em;
    line-height: (38 / 23);
    text-align: center;
    margin-bottom: 50px;
  }
  &__link {
    @include reset-link;
    transition: all 0.3s ease;
    &:hover,
    &.active {
      color: $blue;
    }
    & + & {
      margin-left: 95px;
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    counter-reset: num;
    margin-bottom: 52px;
  }
  &__item {
    padding: 18px 40px 25px;
    border: 1px solid #e8e8e8;
  }
  &__title {
    font-size: (19 / 16) + em;
    line-height: (28 / 19);
    font-weight: normal;
    margin-bottom: (22 / 19) + em;
    &::before {
      counter-increment: num;
      content: counter(num) '. ';
    }
  }
  &__text {
    font-size: 1em;
    line-height: (30 / 16);
    color: $gray;
  }
}
