$fontFamily: 'Roboto', Arial, sans-serif;

// Colors
$blue: #0a8bfe;
$white: #fff;
$gray: #737373;
$black: #000;

$bgColor: $white;
$bgColorDark: #0e0e33;

$fontColor: #000;
$fontColorLight: #fff;

// Media
$maxWidth: (1190 / 16) + em;
$minWidth: (320 / 16) + em;

$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
